.frame-427320339 .join-the-future-of-literature {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-4-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--title-4-font-weight, 500);
  font-size: var(--title-4-font-size, 24px);
  line-height: var(--title-4-line-height, 1.333);
  color: #7A52F4;
}
.frame-427320339 .get-started {
  overflow-wrap: break-word;
  font-family: var(--title-2-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--title-2-font-weight, 700);
  font-size: var(--title-2-font-size, 44px);
  line-height: var(--title-2-line-height, 1.273);
  color: #121826;
}
.frame-427320339 .title-1 {
  margin-bottom: 14px;
  display: flex;
  box-sizing: border-box;
}
.frame-427320339 .experience-inktrades-cutting-edge-marketplace-today {
  overflow-wrap: break-word;
  font-family: var(--title-4-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--title-4-font-weight, 500);
  font-size: var(--title-4-font-size, 24px);
  line-height: var(--title-4-line-height, 1.333);
  color: #404653;
}
.frame-427320339 .subtitle {
  display: flex;
  box-sizing: border-box;
}
.frame-427320339 .title {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.frame-427320339 .start-reading {
  margin-right: 16.9px;
  overflow-wrap: break-word;
  font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodysemibold-1-font-weight, 600);
  font-size: var(--bodysemibold-1-font-size, 18px);
  line-height: var(--bodysemibold-1-line-height, 1.556);
  color: #FFFFFF;
}
.frame-427320339 .icon {
  width: 14px;
  height: 14px;
}
.frame-427320339 .icons {
  margin: 7px 0;
  display: flex;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.frame-427320339 .button {
  border-radius: 10px;
  background: #121826;
  display: flex;
  flex-direction: row;
  padding: 14px 0;
  width: 172px;
  box-sizing: border-box;
}
.frame-427320339 .content {
  position: absolute;
  left: 50%;
  bottom: 80px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-427320339 .section-cta {
  border-radius: 20px;
  border: 1px solid #F6F6F6;
  background: url('../assets/images/unicorn_vector_gradient_21.jpeg');
  position: relative;
  width: 1200px;
  height: 422px;
}
.frame-427320339 {
  background: #FFFFFF;
  display: flex;
  padding: 100px 120px;
  width: 1440px;
  box-sizing: border-box;
}
