.social-proof-section .backed-by-top-firms-industry-leaders {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-2-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--title-2-font-weight, 700);
  font-size: var(--title-2-font-size, 44px);
  line-height: var(--title-2-line-height, 1.273);
  color: #121826;
}
.social-proof-section .who-are-helping-us-pave-the-way-towards-abrand-new-decentralized-literary-exchange {
  margin: 0 31px;
  overflow-wrap: break-word;
  font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodymedium-font-weight, 500);
  font-size: var(--bodymedium-font-size, 18px);
  line-height: var(--bodymedium-line-height, 1.556);
  color: #808187;
}
.social-proof-section .title {
  margin-bottom: 32.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.social-proof-section .binance {
  opacity: 0.8;
  margin-bottom: 0px;
  width: 195.4px;
  height: 39.3px;
}
.social-proof-section .coinbase {
  opacity: 0.8;
  margin: 4.1px 0;
  width: 174px;
  height: 31.1px;
}
.social-proof-section .cryptonews {
  opacity: 0.8;
  width: 167.9px;
  height: 39.3px;
}
.social-proof-section .walmart {
  opacity: 0.8;
  margin: 2.1px 0;
  width: 145.5px;
  height: 35.1px;
}
.social-proof-section .trainline {
  opacity: 0.8;
  margin: 2.1px 0;
  width: 162.2px;
  height: 35.1px;
}
.social-proof-section .section-partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
}
.social-proof-section {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 120px 100.4px 120px;
  width: 1440px;
  box-sizing: border-box;
}
