.team-section .heading {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-2-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--title-2-font-weight, 700);
  font-size: var(--title-2-font-size, 44px);
  line-height: var(--title-2-line-height, 1.273);
  color: #121826;
}
.team-section .our-philosophy-is-simple-hire-ateam-of-diverse-passionate-people-and-foster-aculture-that-empowers-you-to-do-you-best-work {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodymedium-font-weight, 500);
  font-size: var(--bodymedium-font-size, 18px);
  line-height: var(--bodymedium-line-height, 1.556);
  color: #808187;
}
.team-section .heading-and-supporting-text {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .avatar {
  border-radius: 70px;
  background: url('../assets/images/avatar.png') 50% / cover no-repeat, linear-gradient(#D8D0E5, #D8D0E5);
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
.team-section .name {
  margin: 0 4.1px;
  overflow-wrap: break-word;
  font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodysemibold-1-font-weight, 600);
  font-size: var(--bodysemibold-1-font-size, 18px);
  line-height: var(--bodysemibold-1-line-height, 1.556);
  color: #121826;
}
.team-section .role {
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #7A52F4;
}
.team-section .name-and-role {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .supporting-text {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #808187;
}
.team-section .name-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .content {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .vector {
  width: 20px;
  height: 19.9px;
}
.team-section .fb {
  margin: 0 16.8px 0.1px 0;
  display: flex;
  width: 20px;
  height: 19.9px;
  box-sizing: border-box;
}
.team-section .vector-1 {
  width: 18.3px;
  height: 16.6px;
}
.team-section .tw {
  margin: 1.6px 16.8px 1.8px 0;
  display: flex;
  width: 18.3px;
  height: 16.6px;
  box-sizing: border-box;
}
.team-section .vector-2 {
  width: 20px;
  height: 20px;
}
.team-section .in {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.team-section .social {
  display: flex;
  flex-direction: row;
  width: 92px;
  box-sizing: border-box;
}
.team-section .team-member-wrap {
  border-radius: 20px;
  border: 1px solid #DAE0E9;
  background: linear-gradient(180deg, #E9EDFF, rgba(233, 233, 233, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.team-section .avatar-1 {
  border-radius: 70px;
  background: url('../assets/images/avatar_1.png') 50% / contain no-repeat, linear-gradient(#E7DDBE, #E7DDBE);
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
.team-section .name-1 {
  margin: 0 15px;
  overflow-wrap: break-word;
  font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodysemibold-1-font-weight, 600);
  font-size: var(--bodysemibold-1-font-size, 18px);
  line-height: var(--bodysemibold-1-line-height, 1.556);
  color: #121826;
}
.team-section .role-1 {
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #7A52F4;
}
.team-section .name-and-role-1 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .supporting-text-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #808187;
}
.team-section .name-and-supporting-text-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .content-1 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .vector-3 {
  width: 20px;
  height: 19.9px;
}
.team-section .social-2 {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 19.9px;
  box-sizing: border-box;
}
.team-section .vector-4 {
  width: 18.3px;
  height: 16.6px;
}
.team-section .social-3 {
  margin: 1.6px 0 1.8px 0;
  display: flex;
  width: 18.3px;
  height: 16.6px;
  box-sizing: border-box;
}
.team-section .vector-5 {
  width: 20px;
  height: 20px;
}
.team-section .social-4 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.team-section .social-1 {
  display: flex;
  flex-direction: row;
  column-gap: 16.8px;
  width: 92px;
  box-sizing: border-box;
}
.team-section .team-member-wrap-1 {
  border-radius: 20px;
  border: 1px solid #DAE0E9;
  background: linear-gradient(180deg, #F3E9FF, rgba(233, 233, 233, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.team-section .avatar-2 {
  border-radius: 70px;
  background: url('../assets/images/avatar_3.png') 50% / cover no-repeat, linear-gradient(#D0D4C8, #D0D4C8);
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
.team-section .name-2 {
  margin: 0 9.3px;
  overflow-wrap: break-word;
  font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodysemibold-1-font-weight, 600);
  font-size: var(--bodysemibold-1-font-size, 18px);
  line-height: var(--bodysemibold-1-line-height, 1.556);
  color: #121826;
}
.team-section .role-2 {
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #7A52F4;
}
.team-section .name-and-role-2 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .supporting-text-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #808187;
}
.team-section .name-and-supporting-text-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .content-2 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .vector-6 {
  width: 20px;
  height: 19.9px;
}
.team-section .social-6 {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 19.9px;
  box-sizing: border-box;
}
.team-section .vector-7 {
  width: 18.3px;
  height: 16.6px;
}
.team-section .social-7 {
  margin: 1.6px 0 1.8px 0;
  display: flex;
  width: 18.3px;
  height: 16.6px;
  box-sizing: border-box;
}
.team-section .vector-8 {
  width: 20px;
  height: 20px;
}
.team-section .social-8 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.team-section .social-5 {
  display: flex;
  flex-direction: row;
  column-gap: 16.8px;
  width: 92px;
  box-sizing: border-box;
}
.team-section .team-member-wrap-2 {
  border-radius: 20px;
  border: 1px solid #DAE0E9;
  background: linear-gradient(180deg, #E9F8FF, rgba(233, 233, 233, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.team-section .avatar-3 {
  border-radius: 70px;
  background: url('../assets/images/avatar_2.png') 50% / cover no-repeat, linear-gradient(#D3E7BE, #D3E7BE);
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
.team-section .name-3 {
  margin: 0 5.7px;
  overflow-wrap: break-word;
  font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--bodysemibold-1-font-weight, 600);
  font-size: var(--bodysemibold-1-font-size, 18px);
  line-height: var(--bodysemibold-1-line-height, 1.556);
  color: #121826;
}
.team-section .role-3 {
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #7A52F4;
}
.team-section .name-and-role-3 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .former-frontend-dev-for-linear-coinbase-and-postscript {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--caption-1-regular-font-family, 'Gilroy', 'Roboto Condensed');
  font-weight: var(--caption-1-regular-font-weight, 400);
  font-size: var(--caption-1-regular-font-size, 16px);
  line-height: var(--caption-1-regular-line-height, 1.5);
  color: #808187;
}
.team-section .name-and-supporting-text-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .content-3 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.team-section .vector-9 {
  width: 20px;
  height: 19.9px;
}
.team-section .social-10 {
  margin-bottom: 0.1px;
  display: flex;
  width: 20px;
  height: 19.9px;
  box-sizing: border-box;
}
.team-section .vector-10 {
  width: 18.3px;
  height: 16.6px;
}
.team-section .social-11 {
  margin: 1.6px 0 1.8px 0;
  display: flex;
  width: 18.3px;
  height: 16.6px;
  box-sizing: border-box;
}
.team-section .vector-11 {
  width: 20px;
  height: 20px;
}
.team-section .social-12 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.team-section .social-9 {
  display: flex;
  flex-direction: row;
  column-gap: 16.8px;
  width: 92px;
  box-sizing: border-box;
}
.team-section .team-member-wrap-3 {
  border-radius: 20px;
  border: 1px solid #DAE0E9;
  background: linear-gradient(180deg, #FFF3E9, rgba(233, 233, 233, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.team-section .container {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  width: 1200px;
  box-sizing: border-box;
}
.team-section {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 120px;
  width: 1440px;
  box-sizing: border-box;
}
