.rectangle-2 .vector {
    margin: 6px 9px 7px 0;
    width: 30px;
    height: 36px;
  }
  .rectangle-2 .bookish-beacon {
    margin-right: 46.2px;
    overflow-wrap: break-word;
    font-family: 'Glory';
    font-weight: 700;
    font-size: 43.5px;
    color: #121826;
  }
  .rectangle-2 .explore {
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .rectangle-2 .item-1 {
    display: flex;
    box-sizing: border-box;
  }
  .rectangle-2 .drops {
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .rectangle-2 .item-11 {
    display: flex;
    box-sizing: border-box;
  }
  .rectangle-2 .stats {
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .rectangle-2 .item-12 {
    display: flex;
    box-sizing: border-box;
  }
  .rectangle-2 .learn-more {
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .rectangle-2 .item-13 {
    display: flex;
    box-sizing: border-box;
  }
  .rectangle-2 .nav-left {
    margin: 17px 0 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 329.9px;
    height: fit-content;
    box-sizing: border-box;
  }
  .rectangle-2 .container {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .rectangle-2 .icon {
    width: 15px;
    height: 15px;
  }
  .rectangle-2 .icons {
    margin: 6px 12.5px 6px 0;
    display: flex;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
  }
  .rectangle-2 .search-books-etc {
    overflow-wrap: break-word;
    font-family: var(--bodyregular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodyregular-font-weight, 400);
    font-size: var(--bodyregular-font-size, 18px);
    line-height: var(--bodyregular-line-height, 1.5);
    color: #808187;
  }
  .rectangle-2 .input-seach {
    border-radius: 10px;
    background: #F6F6F6;
    display: flex;
    flex-direction: row;
    padding: 8px 0 8px 18.5px;
    width: 240px;
    box-sizing: border-box;
  }
  .rectangle-2 .shopping-cart {
    width: 24px;
    height: 24px;
  }
  .rectangle-2 .icons-1 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .rectangle-2 .wallet {
    width: 24px;
    height: 24px;
  }
  .rectangle-2 .icons-2 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .rectangle-2 .profile-circle {
    width: 24px;
    height: 24px;
  }
  .rectangle-2 .icons-3 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .rectangle-2 .button {
    margin: 9.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 152px;
    height: fit-content;
    box-sizing: border-box;
  }
  .rectangle-2 .nav-right {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 442px;
    height: fit-content;
    box-sizing: border-box;
  }
  .rectangle-2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0 12px 61px;
    width: 1440px;
    box-sizing: border-box;
  }


  .contact-page-header .illustrations-contact-us {
    width: 581px;
    height: 362px;
  }
  .contact-page-header .image {
    margin: 158px 91px 158px 0;
    display: flex;
    width: 581px;
    height: 362px;
    box-sizing: border-box;
  }
  .contact-page-header .supporting-text {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--bodysemibold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodysemibold-font-weight, 600);
    font-size: var(--bodysemibold-font-size, 18px);
    line-height: var(--bodysemibold-line-height, 1.556);
    color: #7A52F4;
  }
  .contact-page-header .heading {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--title-3-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--title-3-font-weight, 600);
    font-size: var(--title-3-font-size, 30px);
    line-height: var(--title-3-line-height, 1.267);
    color: #121826;
  }
  .contact-page-header .supporting-text-1 {
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #808187;
  }
  .contact-page-header .heading-and-supporting-text {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .label {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .contact-page-header .text-1 {
    overflow-wrap: break-word;
    font-family: var(--bodyregular-2-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodyregular-2-font-weight, 400);
    font-size: var(--bodyregular-2-font-size, 18px);
    line-height: var(--bodyregular-2-line-height, 1.556);
    color: #808187;
  }
  .contact-page-header .input {
    border-radius: 8px;
    border: 1px solid #DAE0E9;
    background: #FFFFFF;
    padding: 13px 15px;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .input-field {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .label-1 {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .contact-page-header .text-2 {
    overflow-wrap: break-word;
    font-family: var(--bodyregular-2-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodyregular-2-font-weight, 400);
    font-size: var(--bodyregular-2-font-size, 18px);
    line-height: var(--bodyregular-2-line-height, 1.556);
    color: #808187;
  }
  .contact-page-header .input-1 {
    border-radius: 8px;
    border: 1px solid #DAE0E9;
    background: #FFFFFF;
    padding: 13px 15px;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .input-field-1 {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .label-2 {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--bodymedium-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodymedium-font-weight, 500);
    font-size: var(--bodymedium-font-size, 18px);
    line-height: var(--bodymedium-line-height, 1.556);
    color: #121826;
  }
  .contact-page-header .text-3 {
    overflow-wrap: break-word;
    font-family: var(--bodyregular-2-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodyregular-2-font-weight, 400);
    font-size: var(--bodyregular-2-font-size, 18px);
    line-height: var(--bodyregular-2-line-height, 1.556);
    color: #808187;
  }
  .contact-page-header .input-2 {
    border-radius: 8px;
    border: 1px solid #DAE0E9;
    background: #FFFFFF;
    padding: 13px 15px 77px 15px;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .textarea-input-field {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .checkbox-1 {
    border-radius: 6px;
    border: 1px solid #DAE0E9;
    background: #FFFFFF;
    margin: 4px 12px 0 0;
    width: 20px;
    height: 20px;
  }
  .text-sub16 {
    font-family: 'Gilroy', 'Roboto Condensed';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #121826;
  }
  .text-sub14 {
    font-family: 'Gilroy', 'Roboto Condensed';
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;
    line-height: 1.333;
    color: #121826;
  }
  .text {
    font-family: 'Gilroy', 'Roboto Condensed';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #121826;
  }
  .contact-page-header .text {
    overflow-wrap: break-word;
    font-family: var(--bodyregular-1-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodyregular-1-font-weight, 400);
    font-size: var(--bodyregular-1-font-size, 18px);
    line-height: var(--bodyregular-1-line-height, 1.556);
    color: #121826;
  }
  .contact-page-header .checkbox {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .form-fields {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .start-reading {
    margin-right: 17.7px;
    overflow-wrap: break-word;
    font-family: var(--bodysemibold-1-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--bodysemibold-1-font-weight, 600);
    font-size: var(--bodysemibold-1-font-size, 18px);
    line-height: var(--bodysemibold-1-line-height, 1.556);
    color: #FFFFFF;
  }
  .contact-page-header .icon {
    width: 14px;
    height: 14px;
  }
  .contact-page-header .icons {
    margin: 7px 0;
    display: flex;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
  }
  .contact-page-header .button {
    border-radius: 10px;
    background: #121826;
    display: flex;
    flex-direction: row;
    padding: 14px 0;
    width: 480px;
    box-sizing: border-box;
  }
  .contact-page-header .form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-page-header .content {
    display: flex;
    flex-direction: column;
    width: 480px;
    box-sizing: border-box;
  }
  .contact-page-header {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 91px 0 0 120px;
    width: 1440px;
    box-sizing: border-box;
  }
  .footer-1 .marketplace {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .all-literary-works {
    margin-bottom: 18px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .collectibles {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .ul-4 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .ul-3 {
    margin: 0 89.9px 44px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .footer-1 .my-account {
    margin-bottom: 16px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .profile {
    margin: 0 9.8px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .create {
    margin: 0 9.3px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .settings {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .ul-6 {
    margin-right: 19.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .ul-5 {
    margin: 0 117.4px 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .footer-1 .stats {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .rankings {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .ul-1 {
    display: flex;
    box-sizing: border-box;
  }
  .footer-1 .ul {
    margin: 0 12.8px 26px 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .learn-more {
    margin-bottom: 16px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .learn {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .ul-8 {
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .footer-1 .ul-7 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .ul-2 {
    margin-right: 118.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .footer-1 .company {
    margin: 0 7.6px 16px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .about-us {
    margin: 0 10.3px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .contact-us {
    margin-bottom: 18px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .support {
    margin-right: 16px;
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .ul-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .ul-9 {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .footer-1 .sections {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .footer-1 .join-our-community {
    margin-bottom: 20px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--caption-2-bold-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-bold-font-weight, 700);
    font-size: var(--caption-2-bold-font-size, 14px);
    line-height: var(--caption-2-bold-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .vector-3 {
    width: 24px;
    height: 23.9px;
  }
  .footer-1 .social-3 {
    margin-bottom: 0.1px;
    display: flex;
    width: 24px;
    height: 23.9px;
    box-sizing: border-box;
  }
  .footer-1 .vector-2 {
    width: 22px;
    height: 19.9px;
  }
  .footer-1 .social-2 {
    margin: 1.9px 0 2.2px 0;
    display: flex;
    width: 22px;
    height: 19.9px;
    box-sizing: border-box;
  }
  .footer-1 .vector {
    width: 24px;
    height: 24px;
  }
  .footer-1 .social {
    margin-bottom: 0px;
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .footer-1 .vector-1 {
    width: 24px;
    height: 24px;
  }
  .footer-1 .social-1 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .footer-1 .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 171px;
    box-sizing: border-box;
  }
  .footer-1 .sections-1 {
    margin-bottom: 74px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .footer-1 .footer-1 {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    box-sizing: border-box;
  }
  .footer-1 .inktrade-inc-all-right-reserved {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .sections-4 {
    display: flex;
    box-sizing: border-box;
  }
  .footer-1 .privacy-policy {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .li {
    display: flex;
    box-sizing: border-box;
  }
  .footer-1 .terms-of-service {
    overflow-wrap: break-word;
    font-family: var(--caption-2-regular-font-family, 'Gilroy', 'Roboto Condensed');
    font-weight: var(--caption-2-regular-font-weight, 400);
    font-size: var(--caption-2-regular-font-size, 14px);
    line-height: var(--caption-2-regular-line-height, 1.429);
    color: #404653;
  }
  .footer-1 .li-1 {
    display: flex;
    box-sizing: border-box;
  }
  .footer-1 .sections-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 196.7px;
    height: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .sections-3 {
    border-top: 1px solid #DAE0E9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 11.3px 20px 0;
    width: 1200px;
    height: fit-content;
    box-sizing: border-box;
  }
  .footer-1 .sections-2 {
    display: flex;
    width: 1200px;
    box-sizing: border-box;
  }
  .footer {
    border-top: 1px solid #DAE0E9;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px 120px 0 120px;
    width: 1440px;
    box-sizing: border-box;
  }
  

  